/* CSS declarations go here */

#navigation {
	background: #ffff00;
  	padding: 20px 15px 15px 15px;
  	position: relative;
  	text-align: center;
}

.face {
	background: #66ff33;
	width: 100px;
	height: 100px;
    padding: 25px;
    border: 25px solid black;
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
	width: 100%-5px;
	vertical-align: middle;
	border: 5px solid black;
	overflow:auto; 
	text-align: center;
}