<template name="_destinationsPopover">
	{{#ionPopover}}
		<div class="content">
			<div class="list">
				<!-- <a class="item item-icon-right" href="http://www.meteor.com/" target="_blank">
					Meteor
					{{> ionIcon icon="ios-arrow-right"}}
				</a>
				<a class="item item-icon-right" href="http://ionicframework.com/" target="_blank">
					Ionic
					{{> ionIcon icon="ios-arrow-right"}}
				</a>
				<a class="item item-icon-right" href="http://meteoric.github.io/" target="_blank">
					Meteoric
					{{> ionIcon icon="ios-arrow-right"}}
				</a> -->
				<div class="item">
				Asia
			<!-- liukuvalitsin -->
			<label class="toggle toggle-assertive">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
				</div>
				<div class="item">
			Europe
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
				</div>
				<div class="item">
			North America
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
				</div>
				<div class="item">
			South America
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
				</div>
				<div class="item">
			Africa
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
				</div>
				<div class="item">
			Australia
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
				</div>
				<div class="item">
			Antarctica
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
				</div>
			</div>
		</div>
	{{/ionPopover}}
</template>