<template name="findbuddy">

	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
     {{> ionIcon icon='navicon'}} Profile
    </button>
 	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title">Find a buddy!</h1>
	{{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
	<div class="wrapper">
		<!-- Tätä voisi siistiä -->
		{{#ionList}}
			{{#ionItem}}
			Destinations
			<button class="button button-clear" data-ion-popover="_destinationsPopover">
				{{> ionIcon icon='levels'}}
			</button>
			{{/ionItem}}
			{{#ionItem}}
			<!-- liukuvalitsin -->
			Toggle this
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			{{/ionItem}}
		{{/ionList}}
	</div>
	<div class="wrapper">
		<!-- naamat -->
	  	<div class="face"><img src="/images/1/profile.jpg"/></div>
	  	<div class="face"><img src="/images/2/profile.jpg"/></div>
	  	<div class="face"><img src="/images/3/profile.jpg"/></div>
	  	<div class="face"><img src="/images/4/profile.jpg"/></div>
	  	<div class="face"><img src="/images/5/profile.jpg"/></div>
	</div>
    {{/ionContent}}
  {{/ionView}}
</template>
