<template name="findbuddy">
	


  {{#ionView}}
    {{#ionContent}}
	<div class="wrapper">
		<!-- Tätä voisi siistiä -->
		{{#ionList}}
			{{#ionItem}}
			Asia
			<!-- liukuvalitsin -->
			<label class="toggle toggle-assertive">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			Europe
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			Nort America
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			South America
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			Africa
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			Australia
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			Antarctica
			<!-- liukuvalitsin -->
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			{{/ionItem}}
			{{#ionItem}}
			<!-- liukuvalitsin -->
			Toggle this
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			{{/ionItem}}
			{{#ionItem}}
			<!-- liukuvalitsin -->
			Toggle this too
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			{{/ionItem}}
			{{#ionItem}}
			<!-- liukuvalitsin -->
			Don't you dare toggle this
			<label class="toggle">
   				<input type="checkbox">
   				<div class="track">
     				<div class="handle"></div>
   				</div>
			</label>
			{{/ionItem}}
		{{/ionList}}
	</div>
	<div class="wrapper">
		<!-- naamat -->
	  	<div class="face"><img src="/images/1/profile.jpg"/></div>
	  	<div class="face"><img src="/images/2/profile.jpg"/></div>
	  	<div class="face"><img src="/images/3/profile.jpg"/></div>
	  	<div class="face"><img src="/images/4/profile.jpg"/></div>
	  	<div class="face"><img src="/images/5/profile.jpg"/></div>
	</div>
    {{/ionContent}}
  {{/ionView}}
</template>