$positive: #DE4F4F;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic.scss';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons.scss';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.popover {
  height: auto;
}

.item p {
  margin-bottom: 0;
}

.item-button-left, .item-button-right {
  button {
    top: 16px;
  }
}

.loading-container .loading {
  font-size: 25px;
}

.face {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 25px;
  display: inline-block;
  img {
    border-radius:9999px;
  }
}

.face.small {
  width: 102px;
  height: 102px;
  float: left;
  margin: 0px;
  margin-right: 14px;
  img {
    width:100px;
    height:100px;
  }
}

.info {
  width: 80%;
  height: auto;
  max-height: 7em;
  margin: 0px;
  margin-left: 5px;
  float: left;
  overflow: hidden;
  text-align: left;
  word-break: normal;
  white-space: normal;
}

.info p {
  height: auto;
  max-height: 6em;
  word-break: normal;
  white-space: normal;
  line-height: 1.5em;
}

.list .item {
  line-height: 44px;
  text-indent: 2px;
}

.list label {
  top: 10px;
}

div.bar-subheader {
  height: 60px;
}

div.bar-subheader button {
  top: 7px;
  left: 3px;
}

.has-subheader {
  margin-top: 17px;
  margin-bottom: 49px;
}

.content {
  padding: 8px 12px 8px 12px;
  background: #F7F2EB;
}

.scroll-content {
  background: #F7F2EB;
}

.snap-drawers {
  background: #E6DABE;
}

.snap-drawer-left {
  box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
  -moz-box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
  -o-box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
}

.snap-drawer-right {
  box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
  -o-box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
}

.menu-content .bar, .tabs {
  background: #F7DA59;
}

.toggle input:checked + .track {
  background-color: #6DCC6A;
  border-color: #6DCC6A;
}

.item {
  background: #FFFCF7;
}

label.toggle {
  cursor:pointer;
}