$positive: #DE4F4F;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic.scss';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons.scss';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.popover {
  height: auto;
}

.item p {
  margin-bottom: 0;
}

.item-button-left, .item-button-right {
  button {
    top: 16px;
  }
}

.loading-container .loading {
  font-size: 25px;
}

.face {
  background: #66ff33;
  width: 210px;
  height: 210px;
    padding: 0px;
    border: 5px solid black;
    margin: 25px;
    display: inline-block;
}

.face.small {
  width: 102px;
  height: 102px;
  float: left;
  margin: 0px;
  border: 1px solid;
  img {
  width:100px;
  height:100px;
  }
}

.info {
  width: 80%;
  height: auto;
  max-height: 7em;
  margin: 0px;
  margin-left: 5px;
  float: left;
  overflow: hidden;
  text-align: left;
  word-break: normal;
  white-space: normal;
}

.info p {
  height: auto;
  max-height: 6em;
  word-break: normal;
  white-space: normal;
  line-height: 1.5em;
}