$positive: #DE4F4F;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic.scss';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons.scss';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.popover {
  height: auto;
}

.item p {
  margin-bottom: 0;
}

.item-button-left, .item-button-right {
  button {
    top: 16px;
  }
}

.loading-container .loading {
  font-size: 25px;
}

/* Profile picture wrapper */
.face {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 25px;
  display: inline-block;
  img {
    border-radius:9999px;
  }
}.face.small {
  width: 102px;
  height: 102px;
  float: left;
  margin: 0px;
  margin-right: 14px;
  img {
    width:100px;
    height:100px;
  }
}

/* Friends in the friends view */
.info {
  width: 80%;
  height: auto;
  max-height: 7em;
  margin: 0px;
  margin-left: 5px;
  float: left;
  overflow: hidden;
  text-align: left;
  word-break: normal;
  white-space: normal;
}

/* Friend descriptions */
.info p {
  height: auto;
  max-height: 6em;
  word-break: normal;
  white-space: normal;
  line-height: 1.5em;
}

.list .item {
  line-height: 44px;
  text-indent: 2px;
}

.list label {
  top: 10px;
}

/* Subheader, only used for search bar */
div.bar-subheader {
  height: 60px;
}

div.bar-subheader button {
  top: 7px;
  left: 3px;
}

/* Some extra space for the UI because of the search bar */
.has-subheader {
  margin-top: 17px;
  margin-bottom: 49px;
}

/* Content spacing */
.content {
  padding: 8px 12px 8px 12px;
  background: #F7F2EB;
}
.scroll-content {
  background: #F7F2EB;
}

.loginBody {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  background: url('images/bg.jpg') center center;
  background-size: cover;
}

.loginBody h1 {
  font-size: 5.8em;
  line-height: 0.8em;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 60px;
  text-shadow: 0 3px 0 #7D745C;
  color: #F7DA59;
  -webkit-transition: 0.1s; /* Safari */
  transition: 0.1s;
}

/* Side menus */
.snap-drawers {
  background: #E6DABE;
}

/* Left side menu */
.snap-drawer-left {
  box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
  -moz-box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
  -o-box-shadow: inset -26px 1px 40px -27px rgba(0,0,0,0.2);
}

/* Right side menu */
.snap-drawer-right {
  box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
  -o-box-shadow: inset 26px 1px 40px -27px rgba(0,0,0,0.2);
}

.snap-drawer .button {
  width: 100%;
}

/* Background color of the main menu bars */
.menu-content .bar, .tabs {
  background: #F7DA59;
}

/* Change toggle button default Ionic colours */
.toggle input:checked + .track {
  background-color: #6DCC6A;
  border-color: #6DCC6A;
}

/* Change toggle button cursor on computers */
label.toggle {
  cursor:pointer;
}

.item {
  background: #FFFCF7;
}

.login-button {
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
}

.login-button:hover {
  color: #444;
  text-decoration: none;
}

.login-button.active,
.login-button.activated {
  border-color: #a2a2a2;
  background-color: #e5e5e5;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.login-button:after {
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  content: ' ';
}

#login-buttons-logout {
  border-color: #e42112;
  background-color: #ef473a;
  color: #fff;
  width: 100%;
}

#login-buttons-facebook {
  border-color: #eeeff4;
  background-color: #3b5999;
  color: #fff;
  padding-left:34px;
}

#login-buttons-facebook:before {
  position:absolute;
  font-family: FontAwesome;
  top:0;
  left: 14px;
  content: "";
}

#login-buttons-facebook:active {
  border-color: #eeeff4;
  background-color: #3b5999;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.snap-drawer #login-buttons {
  width: 100%;
}

#login-buttons {
  text-align: center;
}

.login-display-name {
  display: none;
}

.username {
  text-align: center;
  font-size: 1.1em;
}
