<template name="home">
	


  {{#ionView}}
    {{#ionContent}}
	<header id="navigation">Navigation</header>
	<div class="wrapper">
		-kohde
		-sukupuoli
		-lähtömaa
	</div>
	<div class="wrapper">
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	  <div class="face">face</div>
	</div>
    {{/ionContent}}
  {{/ionView}}
</template>