<template name="Thailand">
	{{#contentFor "headerButtonLeft"}}
	{{>ionNavBackButton text="Back" path="tips"}}
  	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title">Thailand</h1>
	{{/contentFor}}

  	{{#ionView}}

    	{{#ionContent}}

			{{#ionList}}
				{{#ionItem}}
					Chiang Mai
					<button class="button button-clear" data-ion-popover="_ChiangMai">
           				{{> ionIcon icon='chevron-right'}}
       				</button>
				{{/ionItem}}
				{{#ionItem}}
					Bangkok
					<button class="button button-clear" data-ion-popover="_Bangkok">
           				{{> ionIcon icon='chevron-right'}}
       				</button>
				{{/ionItem}}
			{{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>
